

.mdp-input{
    width: 50%;
    height: 56px;
}
.mdp-input input:focus{
    outline: none;
    padding-left: 32px;
    padding-right: 32px;
}
.mdp-input input{
    width: 85%;
    height: 100%;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 30px;
    border: 2px solid #c8c8c8;
    margin: 16px;
}

.date-input:valid{
    content: "";
}


