input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin-top: 16px;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: white;
    border-radius: 30px;
    border: 1px solid #c8c8c8;
  }
  input[type=range]::-webkit-slider-thumb {
    height: 36px;
    width: 36px;
    border-radius: 100%;
    background: #fb17ce;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
    text-align: center;
    color: white;
    content: "dd";
  }
  
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: white;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: white;
    border-radius: 30px;
    border: 1px solid #c8c8c8;
  }
  input[type=range]::-moz-range-thumb {
    height: 36px;
    width: 36px;
    border-radius: 100%;
    background: #fb17ce;
    cursor: pointer;
    text-align: center;
    color: white;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  
  input[type=range]::-ms-thumb {
    height: 36px;
    width: 36px;
    border-radius: 100%;
    background: #fb17ce;
    cursor: pointer;
    text-align: center;
    color: white;
  }

  

  .h1-range{
    color: #fb17ce;
    font-size: 14px;
    position: absolute;
    top: 15px;
    left:-9px;
   
  }
  