.mytitle{
    color:#fb17ce;
    font-weight:bold;
    }
    
    .mySubTitle{
    color:#210d94;
    font-weight:bold;
    }
    
    .description{
    color:#181818;
    line-height: 1.5;
    margin-top:20px;
    font-size:16px;
    margin-bottom:30px;
    }