.bottomNext{
    width: 100%;
    height: 60px;
    border: 1px #fb17ce;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #fb17ce;
}
.bottomNext:hover{
    cursor: pointer;
    
    box-shadow: 0 0 16px gray; 
    transform: translateY(-0.25em);
}
.textNext{
    color: #ffffff;
    font-size: 16px;
    margin-right: 8px;
}
.textTotal{
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
}
.bottomTotal{
    width: 80%;
    height: 60px;
    border: 1px #fb17ce;
    background-color: #fb17ce;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.bottomTotalNumber{
    width: 20%;
    height: 60px;
    border: 1px #bc119a;
    background-color: #bc119a;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.bottomNext:focus{
  outline-offset: 0px !important;
  outline: none !important;
  }

.iconNext{
    width: 15px;
    height: 15px;
    fill: white;
}

.h1-title{
    color:black;
    line-height: 1.5px;
    margin-top:36px;
    font-size:24px;
    margin-bottom:8px;
    font-weight: 400;
    }
 .h1-labbelError  {
  line-height: 1.5px;
  margin-top:36px;
  font-size:18px;
  color: #fb17ce;
  padding-bottom: 16px;
    }
    
.subTitle{
        color:black;
        line-height: 1.5px;
        margin-top:24px;
        font-size:16px;
        margin-bottom:36px;
    }
.textareaInput{
  width: 100%;
  height: 180px;
  border-radius: 30px;
  border: 1px solid #c8c8c8;
  margin-top:32px;
  padding: 24px;
  text-align: left;
  letter-spacing: 2px;
  font-size: 12px;
    }
    .textareaInput:focus{
      outline-offset: 0px !important;
      outline: none !important;
      }
    .radioInput{
        height: 24;
        width: 24;
        
    }
    
    .checkboxInput {
        width: 24px;
        height: 24px;
        border: 1px gray;
        margin: 16px;
        background: #ffffff;
        border-radius: 100%;
      }
      .checkboxInput label.inner {
        display: block;
        width: 16px;
        height: 16px;
        margin: 4px 4px 4px 4px;
        border-radius: 100px;
        cursor: pointer;
        position: absolute;
        background: #ffffff;
      }
      .checkboxInput label.outer {
        margin-left:32px;
        width: 200px;
      }
      .checkboxInput [type=checkbox] {
        display: none
      }
      .innerCheckbox.checkboxInput input[type=checkbox]:checked+label.inner {
        background: #fb17ce;
      }
       